@charset "UTF-8";
/* Responsive Design */
@media (max-width: 575px) {
  .Btn-Hamburguesa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Btn-Hamburguesa .Label-Menu {
    position: relative;
    cursor: pointer;
  }
  .Btn-Hamburguesa .Label-Menu #Spn-1, .Btn-Hamburguesa #Spn-2, .Btn-Hamburguesa #Spn-3 {
    position: absolute;
    content: "";
    background: #00FF27;
    width: 20px;
    height: 4px;
    top: -8px;
    border-radius: 50vw;
    transition: all 400ms ease;
  }
  .Btn-Hamburguesa #Spn-2 {
    top: -3px;
  }
  .Btn-Hamburguesa #Spn-3 {
    top: 2px;
  }
  .Btn-Hamburguesa #Btn-Menu {
    display: none;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Label-Menu #Spn-1 {
    transform: rotate(140deg);
    top: -3px;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Label-Menu #Spn-2 {
    opacity: 0;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Label-Menu #Spn-3 {
    transform: rotate(-140deg);
    top: -3px;
  }
  .Btn-Hamburguesa .Listas-Btn-Navegación {
    display: none;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    position: absolute;
    margin-top: -2.2vw;
    top: 21vw;
    left: 0vw;
    width: 100%;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-SobreMí li {
    list-style: none;
    padding: 2.5vw;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-SobreMí li:hover {
    transition: 2s;
    cursor: pointer;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-SobreMí a {
    font-size: 5vw;
    color: white;
    text-decoration: none;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-SobreMí a:hover {
    color: aqua;
    transition: 2s;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Tecnologías li {
    list-style: none;
    padding: 2.5vw;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Tecnologías li:hover {
    transition: 2s;
    cursor: pointer;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Tecnologías a {
    font-size: 5vw;
    color: white;
    text-decoration: none;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Tecnologías a:hover {
    color: aqua;
    transition: 2s;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Proyectos li {
    list-style: none;
    padding: 2.5vw;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Proyectos li:hover {
    transition: 2s;
    cursor: pointer;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Proyectos a {
    font-size: 5vw;
    color: white;
    text-decoration: none;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Proyectos a:hover {
    color: aqua;
    transition: 2s;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Contacto li {
    list-style: none;
    padding: 2.5vw;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Contacto li:hover {
    transition: 2s;
    cursor: pointer;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Contacto a {
    font-size: 5vw;
    color: white;
    text-decoration: none;
  }
  .Btn-Hamburguesa #Btn-Menu:checked ~ .Listas-Btn-Navegación .Listas-Btn-Contacto a:hover {
    color: aqua;
    transition: 2s;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .Btn-Hamburguesa {
    display: none;
  }
}
@media (min-width: 769px) {
  .Btn-Hamburguesa {
    display: none;
  }
}

/*# sourceMappingURL=BtnHamburguesa.css.map */
