@charset "UTF-8";
/* Responsive Design */
@media (max-width: 575px) {
  .Menu-Proyectos {
    text-align: center;
  }
  .Menu-Proyectos .Proyectos-Texto {
    text-align: center;
    padding: 2.5vw;
  }
  .Menu-Proyectos .Proyectos-Texto h1 {
    font-size: 9vw;
    color: white;
  }
  .Menu-Proyectos .Proyectos-Información {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto1-Información img {
    height: 100vw;
    width: 90vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto2-Información img {
    height: 100vw;
    width: 90vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto3-Información img {
    height: 100vw;
    width: 90vw;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .Menu-Proyectos {
    text-align: center;
  }
  .Menu-Proyectos .Proyectos-Texto {
    text-align: center;
    padding: 2.5vw;
  }
  .Menu-Proyectos .Proyectos-Texto h1 {
    font-size: 4vw;
    color: white;
  }
  .Menu-Proyectos .Proyectos-Información {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto1-Información {
    padding: 2.5vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto1-Información img {
    height: 50vw;
    width: 50vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto1-Información img:hover {
    transform: scale(1.1);
    transition: 2s;
    cursor: pointer;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto2-Información {
    padding: 2.5vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto2-Información img {
    height: 50vw;
    width: 50vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto2-Información img:hover {
    transform: scale(1.1);
    transition: 2s;
    cursor: pointer;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto3-Información {
    padding: 2.5vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto3-Información img {
    height: 50vw;
    width: 50vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto3-Información img:hover {
    transform: scale(1.1);
    transition: 2s;
    cursor: pointer;
  }
}
@media (min-width: 769px) {
  .Menu-Proyectos {
    text-align: center;
  }
  .Menu-Proyectos .Proyectos-Texto {
    text-align: center;
    padding: 2.5vw;
  }
  .Menu-Proyectos .Proyectos-Texto h1 {
    font-size: 4vw;
    color: white;
  }
  .Menu-Proyectos .Proyectos-Información {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto1-Información {
    padding: 2.5vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto1-Información img {
    height: 50vw;
    width: 50vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto1-Información img:hover {
    transform: scale(1.1);
    transition: 2s;
    cursor: pointer;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto2-Información {
    padding: 2.5vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto2-Información img {
    height: 50vw;
    width: 50vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto2-Información img:hover {
    transform: scale(1.1);
    transition: 2s;
    cursor: pointer;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto3-Información {
    padding: 2.5vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto3-Información img {
    height: 50vw;
    width: 50vw;
  }
  .Menu-Proyectos .Proyectos-Información .Proyecto3-Información img:hover {
    transform: scale(1.1);
    transition: 2s;
    cursor: pointer;
  }
}

/*# sourceMappingURL=MenuProyectos.css.map */
