/* Responsive Design */

@media(max-width: 575px){

    /* Pantallas Pequeñas */

    .PieDePágina-Contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        padding: 5vw;

        .RedesSociales-Texto{
            padding: 5vw;

            small{
                font-size: 5vw;
                color: white;
            }

        }

        .RedesSociales-Imagenes{
            display: flex;
            align-items: center;

            .LinkedIn-RS{
                background-color: white;
                border: 0.8vw solid aqua;
                border-radius: 100%;
                padding: 2vw;

                img{
                    height: 10vw;
                    width: 10vw;
                }

            }

            .LinkedIn-RS:hover{
                background-color: aqua;
                border: 0.8vw solid white;
                transition: 2s;
                cursor: pointer;
            }

            .GitHub-RS{
                background-color: white;
                border: 0.8vw solid gray;
                border-radius: 100%;
                padding: 2vw;
                margin-left: 1.5vw;

                img{
                    height: 10vw;
                    width: 10vw;
                }

            }

            .GitHub-RS:hover{
                background-color: gray;
                border: 0.8vw solid white;
                transition: 2s;
                cursor: pointer;
            }

            .Twitter-RS{
                background-color: white;
                border: 0.8vw solid blue;
                border-radius: 100%;
                padding: 2vw;
                margin-left: 1.5vw;

                img{
                    height: 10vw;
                    width: 10vw;
                }

            }

            .Twitter-RS:hover{
                background-color: blue;
                border: 0.8vw solid white;
                transition: 2s;
                cursor: pointer;
            }

            .Gmail-RS{
                background-color: white;
                border: 0.8vw solid orange;
                border-radius: 100%;
                padding: 2vw;
                margin-left: 1.5vw;

                img{
                    height: 10vw;
                    width: 10vw;
                }

            }

            .Gmail-RS:hover{
                background-color: orange;
                border: 0.8vw solid white;
                transition: 2s;
                cursor: pointer;
            }

        }

    }

}

@media(min-width: 576px) and (max-width: 768px){

    /* Pantallas Medianas */

    .PieDePágina-Contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        padding: 20px;

        .RedesSociales-Texto{
            padding: 10px;

            small{
                font-size: 20px;
                color: white;
            }

            small:hover{
                transform: scale(1.1);
                transition: 2s;
            }

        }

        .RedesSociales-Imagenes{
            display: flex;
            align-items: center;
            padding: 10px;

            .LinkedIn-RS{
                background-color: white;
                border: 5px solid aqua;
                border-radius: 75px;
                padding: 10px;

                img{
                    height: 50px;
                    width: 50px;
                }
                
                img:hover{
                    transition: 2s;
                    cursor: pointer;
                }

            }

            .LinkedIn-RS:hover{
                background-color: aqua;
                border: 5px solid white;
                transform: scale(1.1);
                transition: 2s;
                cursor: pointer;
            }

            .GitHub-RS{
                background-color: white;
                border: 5px solid gray;
                border-radius: 75px;
                padding: 10px;
                margin-left: 0.5cm;

                img{
                    height: 50px;
                    width: 50px;
                }

                img:hover{
                    transition: 2s;
                    cursor: pointer;
                }

            }

            .GitHub-RS:hover{
                background-color: gray;
                border: 5px solid white;
                transform: scale(1.1);
                transition: 2s;
                cursor: pointer;
            }

            .Twitter-RS{
                background-color: white;
                border: 5px solid blue;
                border-radius: 75px;
                padding: 10px;
                margin-left: 0.5cm;

                img{
                    height: 50px;
                    width: 50px;
                }

                img:hover{
                    transition: 2s;
                    cursor: pointer;
                }

            }

            .Twitter-RS:hover{
                background-color: blue;
                border: 5px solid white;
                transform: scale(1.1);
                transition: 2s;
                cursor: pointer;
            }

            .Gmail-RS{
                background-color: white;
                border: 5px solid orange;
                border-radius: 75px;
                padding: 10px;
                margin-left: 0.5cm;

                img{
                    height: 50px;
                    width: 50px;
                }

                img:hover{
                    transition: 2s;
                    cursor: pointer;
                }

            }

            .Gmail-RS:hover{
                background-color: orange;
                border: 5px solid white;
                transform: scale(1.1);
                transition: 2s;
                cursor: pointer;
            }

        }

    }

}

@media(min-width:769px){

    /* Pantallas Grandes */

    .PieDePágina-Contacto{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: black;
        padding: 20px;

        .RedesSociales-Texto{
            padding: 10px;

            small{
                font-size: 20px;
                color: white;
            }

            small:hover{
                transform: scale(1.1);
                transition: 2s;
            }

        }

        .RedesSociales-Imagenes{
            display: flex;
            align-items: center;
            padding: 10px;

            .LinkedIn-RS{
                background-color: white;
                border: 5px solid aqua;
                border-radius: 75px;
                padding: 10px;

                img{
                    height: 50px;
                    width: 50px;
                }
                
                img:hover{
                    transition: 2s;
                    cursor: pointer;
                }

            }

            .LinkedIn-RS:hover{
                background-color: aqua;
                border: 5px solid white;
                transform: scale(1.1);
                transition: 2s;
                cursor: pointer;
            }

            .GitHub-RS{
                background-color: white;
                border: 5px solid gray;
                border-radius: 75px;
                padding: 10px;
                margin-left: 0.5cm;

                img{
                    height: 50px;
                    width: 50px;
                }

                img:hover{
                    transition: 2s;
                    cursor: pointer;
                }

            }

            .GitHub-RS:hover{
                background-color: gray;
                border: 5px solid white;
                transform: scale(1.1);
                transition: 2s;
                cursor: pointer;
            }

            .Twitter-RS{
                background-color: white;
                border: 5px solid blue;
                border-radius: 75px;
                padding: 10px;
                margin-left: 0.5cm;

                img{
                    height: 50px;
                    width: 50px;
                }

                img:hover{
                    transition: 2s;
                    cursor: pointer;
                }

            }

            .Twitter-RS:hover{
                background-color: blue;
                border: 5px solid white;
                transform: scale(1.1);
                transition: 2s;
                cursor: pointer;
            }

            .Gmail-RS{
                background-color: white;
                border: 5px solid orange;
                border-radius: 75px;
                padding: 10px;
                margin-left: 0.5cm;

                img{
                    height: 50px;
                    width: 50px;
                }

                img:hover{
                    transition: 2s;
                    cursor: pointer;
                }

            }

            .Gmail-RS:hover{
                background-color: orange;
                border: 5px solid white;
                transform: scale(1.1);
                transition: 2s;
                cursor: pointer;
            }

        }

    }

}