/* Responsive Design */

@media(max-width: 575px){

    /* Pantallas Pequeñas */

    .Btn-Hamburguesa{
        display: flex;
        justify-content: center;
        align-items: center;

        .Label-Menu{
            position: relative;
            cursor: pointer;
        }

        .Label-Menu #Spn-1, #Spn-2, #Spn-3{
            position: absolute;
            content: '';
            background: #0027FF;
            width: 20px;
            height: 4px;
            top: -7px;
            border-radius: 50px;
            transition: all 400ms ease;
        }

        #Spn-2{
            top: -2px;
        }

        #Spn-3{
            top: 3px;
        }

        #Btn-Menu{
            display: none;
        }

        #Btn-Menu:checked ~ .Label-Menu #Spn-1{
            transform: rotate(140deg);
            top: -2px;
        }

        #Btn-Menu:checked ~ .Label-Menu #Spn-2{
            opacity: 0;
        }

        #Btn-Menu:checked ~ .Label-Menu #Spn-3{
            transform: rotate(-140deg);
            top: -2px;
        }

        .Navegación-Btn-SobreMí{
            display: none;
        }

        #Btn-Menu:checked ~ .Navegación-Btn-SobreMí{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            background-color: black;
            width: 100%;
            margin-top: 0.19cm;
            top: 25vw;
            left: 0cm;

            li{
                list-style: none;
                padding: 10vw;
            }

            a{
                color: white;
                font-size: 6vw;
                text-decoration: none;
            }

            a:hover{
                color: aqua;
            }

        }

    }

}

@media(min-width: 576px) and (max-width: 768px){

    /* Pantallas Medianas */

    .Btn-Hamburguesa{
        display: none;
    }

}

@media(min-width: 769px){

    /* Pantallas Grandes */

    .Btn-Hamburguesa{
        display: none;
    }

}